body { margin:0; padding:0; }
#map { position: absolute; top:0; bottom:0; right:0; left:0; }
#logo {position: absolute; margin-top: 10px; margin-left: 10px; z-index:500; }
#map-title { position: relative; margin-top: 10px; margin-left: 120px; float: left; background: white; padding: 6px 8px; font-family: Helvetica; font-weight: bold; font-size: 30px; z-index: 600; }

.leaflet-popup-content {
    	width:auto !important;
	}

/* legend symbols */
.path {
  background: darkgreen;
  display: inline-block;
  vertical-align: middle;
  height: 5px;
  width: 25px;
}
.lane {
  background: green;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 25px;
}
.mixed {
  border-top: 2px dashed green;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 25px;
}
.green-loop {
  border-top: 3px dotted green;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 25px;
}
.orange-loop {
  border-top: 3px dotted orange;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 25px;
}
.blue-loop {
  border-top: 3px dotted blue;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 25px;
}
.town-border {
  background: lightgray;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 25px;
}
